:root {
  --color-light: #eaeaea;
  --color-dark: #1b2422;
  --color-section: #feffff;
}

body {
  background-color: var(--color-light);
  color: var(--color-dark);
  height: 100vh;
}

@font-face {
  font-family: "InstrumentSerif";
  src: url("/fonts/InstrumentSerif-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "CothamSans";
  src: url("/fonts/CothamSans.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Light.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Phudu";
  src: url("/fonts/Phudu-Black.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Phudu";
  src: url("/fonts/Phudu-SemiBold.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Phudu";
  src: url("/fonts/Phudu-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Gelion";
  src: url("/fonts/Gelion Light.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Lora";
  src: url("/fonts/Lora-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}
