:root {
  --color-light: #fff6f2;
  --color-dark: #1b2422;
  --color-section: #feffff;
  --color-lightPink: #b691a1;
  --color-middlePink: #824f63;
  --color-darkPink: #30041a;
}

body {
  background-color: var(--color-light);
  color: var(--color-darkPink);
  height: 100vh;
  overflow-x: hidden;
}

@font-face {
  font-family: "Playfair";
  src: url("/fonts/Playfair_9pt-Light.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Playfair";
  src: url("/fonts/Playfair_9pt-SemiBold.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Cinzel";
  src: url("/fonts/Cinzel-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "InstrumentSerif";
  src: url("/fonts/InstrumentSerif-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Light.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Gelion";
  src: url("/fonts/Gelion Light.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Lora";
  src: url("/fonts/Lora-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
strong {
  color: inherit; /* neemt dezelfde kleur als de rest van de tekst */
  font-weight: 800; /* zelf bepalen hoe vet */
}

html {
  scroll-behavior: smooth;
}
