@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-[2.2rem] font-medium font-phudu;
  }

  h2 {
    @apply text-[2.5rem] font-medium font-phudu;
  }
  h3 {
    @apply text-[1.7rem] font-medium font-phudu;
  }
  h4 {
    @apply text-[1.2rem] font-medium font-phudu;
  }

  p {
    @apply text-[0.9rem] font-lora;
  }

  @media (min-width: 460px) {
    h1 {
      @apply text-[2.7rem];
    }
  }

  @media (min-width: 660px) {
    h1 {
      @apply text-[3.9rem];
    }
    p {
      @apply text-[1.1rem];
    }
    h2 {
      @apply text-[3rem];
    }
  }

  @media (min-width: 900px) {
    h1 {
      @apply text-[4.5rem];
    }
  }

  @media (min-width: 1250px) {
    /* h1 {
      @apply text-[9rem];
    } */
    h4 {
      @apply text-[1.3rem];
    }
  }

  @media (min-width: 1495px) {
    h1 {
      @apply text-[10rem];
    }

    h4 {
      @apply text-[1.6rem];
    }

    p {
      @apply text-[1.3rem];
    }
  }

  @media (min-width: 1650px) {
    h1 {
      @apply text-[10rem];
    }

    p {
      @apply text-[1.3rem];
    }
  }
}
