@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply font-cinzel;
    font-size: clamp(1.7rem, 6.9vw, 11rem);
    font-weight: 200;
    letter-spacing: clamp(0.12em, 1vw, 0.02em);
    color: var(--color-darkPink);
  }

  h2 {
    @apply font-playfair;
    font-size: clamp(1.1rem, 4vw, 3rem);
    font-weight: 200;
    color: var(--color-darkPink);
  }
  h3 {
    @apply font-playfair;
    font-weight: 400;
    font-size: clamp(1.1rem, 2vw, 1.4rem);
  }
  h4 {
    @apply text-[1.2rem] font-medium font-playfair;
  }

  p {
    @apply text-[0.9rem] font-lora;
  }

  @media (min-width: 460px) {
  }

  @media (min-width: 660px) {
    p {
      @apply text-[1.1rem];
    }
  }

  @media (min-width: 900px) {
  }

  @media (min-width: 1250px) {
    /* h1 {
      @apply text-[9rem];
    } */
    h4 {
      @apply text-[1.3rem];
    }
  }

  @media (min-width: 1495px) {
    h4 {
      @apply text-[1.6rem];
    }

    p {
      @apply text-[1.3rem];
    }
  }

  @media (min-width: 1650px) {
    p {
      @apply text-[1.3rem];
    }
  }
}
